.detalleLocal {
    > div:first-child {
        min-width: 1000px;
        margin: 0 auto;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    .tabs {
        width: auto;
        padding: 0.8rem 1rem;
    }
    .feature {
        padding: 1rem;
    }
    .infoAdditional {
        padding: 0.8rem 1rem;
    }
    .creator {
        padding: 0.8rem 1rem;
    }
}
