// Colores
$naranja-principal: #ff5e00;
$naranja-gradiente: linear-gradient(135deg, #ff9100, #ff5e00);
$azul-oscuro: #1d3547;
$gris-suave: #f3f4f6;
$blanco: #ffffff;
$texto-cuerpo: #4b5563;

// Breakpoints
$tablet: 768px;

// Mixin para Flex Center
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
